body{width:device-width;background-color:#87CEEB;}
body{position:relative;}
#title{background-color: #009688;}
#main{width:100%;}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}
#buttom{
    background:red;
    position:absolute;
    bottom:0;
    left:0;
}
#buttom{width:100%;background-color: #009688;}
#pre{width:50%;float:left;}
#next{width:50%;float:right;}
